body {
	background-color:white;

}



#eurasiercentered {
margin: 10px;
text-align: center;
}

.bottommargin {
margin-bottom: 25px;
}


.topmargin {
margin-top: 15px;
}

.bigfont {
font-family: 'Ubuntu', sans-serif;
color: orange;
font-size:20px;
}

#smallfont {
font-size: 18px;
}

h1 {
	font-size: 80px;
    color: gold;
	font-family: 'Luckiest Guy', cursive;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

h2{
	font-size: 45px;
	color: gold;
    font-family: 'Luckiest Guy', cursive;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img:hover {
	transform: scale(1.1);
}

a {
	color:gold;
	font-size: 25px;
	font-family: 'Luckiest Guy', cursive;
}

br{
	color:black;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
	font-size: 27px;	
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}