body {
	background-color:white;

}

/* Fonts and words */

.margin {
	margin-bottom: 25px;
	margin-left: 25px;
	margin-top: 15px;
	}

.bigfont {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(60, 60, 60);
	font-size:20px;
}

#smallfont {
	font-size: 18px;
}

h1 {
	font-size: 80px;
    color: gold;
	font-family: 'Luckiest Guy', cursive;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h2{
	font-size: 45px;
	color: gold;
    font-family: 'Luckiest Guy', cursive;
	text-align: center;
	display: block;
	flex-wrap: wrap;
	justify-content: center;
}


/* images */

.img-right {
	width: 450px;
	float: right;
	margin-top: 30px;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
}
.img-left {
	width: 450px;
	float: left;
	margin-top: 30px;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
}

.source {
	text-align: center;
}

a { 
	color:gold;
	font-size: 30px;
	font-family: 'Luckiest Guy', cursive;
}

@media screen and (max-width: 800px) {
	.img-left, .img-right {
	width: 100%;
	margin-top: 1px;
	margin-right: 1px;
	margin-left: 1px;
	margin-bottom: 1px;
}
	
	.bigfont {
		font-size: 20px;
	}
}