body {
	background-color:white;

}

/* Fonts and words */

.margin {
	margin-bottom: 25px;
	margin-left: 25px;
	margin-top: 15px;
	}

.bigfont {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(60, 60, 60);
	font-size:20px;
}

#smallfont {
	font-size: 18px;
}

h1 {
	font-size: 80px;
    color: gold;
	font-family: 'Luckiest Guy', cursive;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h2{
	font-size: 45px;
	color: gold;
    font-family: 'Luckiest Guy', cursive;
	text-align: center;
	display: block;
	flex-wrap: wrap;
	justify-content: center;
}


/* images */

.img-right {
	width: 100%;
	max-width: 450px;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.img-left {
	width: 100%;
	max-width: 450px;
	float: left;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

img:hover {
	transform: scale(1.05);
}

.source {
	text-align: center;
}

a { 
	color:gold;
	font-size: 30px;
	font-family: 'Luckiest Guy', cursive;
}

/* Portrait and Landscape */
@media only screen  
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen  
  and (min-width: 500px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	
.img-left {
width: 100px;
margin-top: 20px;
margin-right: 20px;
margin-left: 20px;
margin-bottom: 20px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}